#!/usr/local/python/bin/python
# -*- coding: UTF-8 -*-
#
# 2.0.0 Notes:
# change from bash to python
#
import sys
from optparse import OptionParser
import snmplib

VERSION = '2.0.0'
verbose = False

# .1.3.6.1.2.1.2.2.1.2 ifDescr
# .1.3.6.1.2.1.2.2.1.8 ifOperStatus
#
# This rule:
#    filter all operation up(1) interfaces
#    return index and description of these interfaces
RULE = (".1.3.6.1.2.1.2.2.1.2",
        [(".1.3.6.1.2.1.2.2.1.8",
         lambda x: x == '1')])


def opt_parse():
    global verbose
    usage = "%prog hostname/ip community [-v]"

    parser = OptionParser(usage=usage, version=VERSION)
    parser.add_option('-v', '--verbose', action='store_true',
                      dest='verbose', default=False,
                      help='print verbose infomation')
    (options, args) = parser.parse_args()
    # setting verbose
    verbose = options.verbose
    snmplib.verbose = verbose

    if len(args) < 2:
        print 'too few parameters.\n'
        parser.print_help()
        sys.exit(-1)
    else:
        return args

if __name__ == '__main__':
    args = opt_parse()
    items = snmplib.lld_process(args[0], args[1], RULE)
    print snmplib.lld_format(items)
