#!/usr/local/python/bin/python
# -*- coding: UTF-8 -*-
#
# 2.0.1 Notes:
# distinguish between empty result and exception
#
# 2.0.0 Notes:
# change from bash to python
#
import sys
import traceback
from optparse import OptionParser
import snmplib
import binascii

VERSION = '2.0.1'
ERROR = 'ZBX_NOTSUPPORTED'
parser = None

# .1.3.6.1.2.1.75.1.2.1.1.1 fcFxPortID
# .1.3.6.1.2.1.75.1.2.2.1.2 fcFxPortPhysOperStatus
#
# This rule:
#    filter all operation online(1) interfaces
#    return index and description of these interfaces
RULE = ('.1.3.6.1.2.1.75.1.2.1.1.1',
        [('.1.3.6.1.2.1.75.1.2.2.1.2',
         lambda x: x == '1')])


def cmd_error(message):
    print ERROR
    print message
    parser.print_help()
    sys.exit(1)


def proc_error():
    snmplib.log(traceback.format_exc())
    print ERROR
    sys.exit(1)


def opt_parse():
    global parser

    usage = '%prog hostname community [-v]'

    parser = OptionParser(usage=usage, version=VERSION)
    parser.add_option('-v', '--verbose', action='store_true',
                      dest='verbose', default=False,
                      help='print verbose infomation')
    (options, args) = parser.parse_args()
    # setting verbose
    snmplib.verbose = options.verbose

    if len(args) < 2:
        cmd_error('too few parameters.\n')
    else:
        return args

if __name__ == '__main__':
    try:
        args = opt_parse()
        items = snmplib.lld_process(args[0], args[1], RULE)
        # fcFxPortID value is binary hex string
        # need convert it to ascii hex string
        for i in items:
            i['{#SNMPVALUE}'] = binascii.b2a_hex(i['{#SNMPVALUE}'])
        print snmplib.lld_format(items)
    except Exception:
        proc_error()
